@import "tailwindcss";

@keyframes gradientMove {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-45%, -55%) scale(1.1); }
    100% { transform: translate(-50%, -50%) scale(1); }
  }
  
  .animate-gradientMove {
    animation: gradientMove 3s infinite alternate ease-in-out;
  }
  
  @theme inline {
    --shadow-input:
      0px 2px 3px -1px rgba(0, 0, 0, 0.1),
      0px 1px 0px 0px rgba(25, 28, 33, 0.02),
      0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  }